<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <title>Actave - Anxiety Screening</title>
</head>

<body>
    <header>
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Actave Logo" class="logo">
    </header>
    <main>
        <section id="intro">
            <h1>Welcome to Actave Anxiety Screening</h1>
            <p>Step into Actave - Your Reflection Space for Emotional Wellness! Your mental health is significant, and Actave invites you to reflect on your emotions. This anxiety screening tool provides a thoughtful exploration of your experiences over the last two weeks. Take a moment to connect with yourself and gain insights into your well-being.</p>
            <button onclick="startSurvey()">Start Survey</button>
        </section>
    </main>
    <script src="{{ url_for('static', filename='scripts/navigation.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
</body>

</html>
<script>
    function startSurvey() {
        window.location.href = '/templates/survey.html';
    }
</script>

