/* style.css */
body {
    font-family: 'Rubik', sans-serif; /* Change to Rubik */
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #007BFF;
    color: #fff;
}

header img {
    width: 150px;
    height: auto;
    max-width: 100%;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 16px;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-bottom: 20px;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 40px;
}

th {
    font-family: 'Rubik', sans-serif; 
    font-weight: 400; 
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    background-color: #007BFF; 
    color: #fff; 
}

td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

label {
    display: block;
    margin-bottom: 8px;
}

/* Additional styling */
@media (max-width: 600px) {
    button {
        width: 100%;
    }
}
